.Rproj.user
.Rhistory
.RData
output/
exploratory_output/
*.pdf
*.svg
[Tt]humbs.db
*[Tt]humbs.db
#*.rda
*.Rdata
*.dcf
data/*.rda
data/*.csv
shiny/new/*.rda
data_raw/temp/
comms/attachments/New_Zealand_Sectors_Dashboard_????_release.docx

